<div>
  <audio media-player="audio1" data-playlist="playlist1">
   <source src="https://p.scdn.co/mp3-preview/da2469143494dbd1929b1c9767e53670752d54aa" type="audio/ogg">
  </audio>
  <button ng-click="mySpecialPlayButton()">+</button>
  <button ng-click="mySpecialPlayButton2()">-</button>
  <span ng-show="audio1.playing">Player status: Playing</span>
  <span ng-show="!audio1.playing">Player status: Paused</span>
</div>

<div>
<p>{{gruppenId}}</p>
<ul ng-repeat="item in music">
	<li>
		<button ng-click="removeSong(item)">-</button>
		{{item.title}}
	</li>
</ul>

<input type="text" ng-model="musicValue" name="musicValue" placeholder="Musiktitel" ng-change="querySoundCloud()">
<p>Für die Suche ergaben sich folgende Ergebnise:
	<ul ng-repeat="item in youtubeEntries">
		<li>
			  <a class="media-left">
	    <img  ng-src="{{item.media$group.media$thumbnail[0].url}}">
	  </a>
	  {{item.media$group.media$title.$t}}
	  <button ng-click="addSong(item)">+</button>
	</li>
		<!-- <li ng.repeat="(key, value) in entry.title">{{value}}</li> -->
	</ul>
	</div>